{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Socios</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Socios</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg">

              {% if messages %}
              {% comment %} ALERTAS {% endcomment %}
                {% for message in messages %}
                    {% if message.tags %}
                      <div class="alert alert-{{ message.tags }}">
                        {% comment %} <h5><i class='bx bx-info-circle bx-md'></i></h5> {% endcomment %}
                        <ul style="margin-bottom: 0px;">
                          <li class="">{{ message }}</li>                   
                        </ul>
                      </div>
                  {% endif %}
                {% endfor %}
              {% comment %} FIN ALERTAS {% endcomment %}
              {% endif %}

              {% comment %} <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="m-0 float-left">Featured</h5>
                  <a href="#" class="btn btn-primary btn-sm float-right">Nuevo</a>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Special title treatment</h6>
  
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> {% endcomment %}

              <div class="card card-primary card-outline collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Busqueda</h3>
                    <div class="card-tools">
                        <!-- This will cause the card to collapse when clicked -->
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>                       
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-md-center mt-3 mb-3">
                        <div class="col-10">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-info btn-flat">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title">Socios</h5>

                  <a href="{% url 'socios_create' %}" class="btn btn-primary btn-sm float-right"><i class='bx bx-plus-medical'></i> Nuevo</a>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                
                {% if socios %}
                <div class="card-body table-responsive p-0">

                  
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Socio</th>
                        <th>Estado</th>
                        <th>Horarios</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for socio in socios %}
                        <tr>
                          <td>{{socio.apellido}}, {{socio.nombre}}</td>
                          <td>{{socio.estado}}</td>
                          <td>{{socio.socio_horario.first}}</td>
                          <td>
                            <a href="#" title="Ver Rutina"><i class='bx bx-dumbbell bx-sm'></i> </a>
                            <a href="{% url 'horarios_update' socio.socio_horario.first.id %}" title="Horarios"><i class='bx bx-time bx-sm'></i> </a>                          
                            <a href="{% url 'socios_show' socio.id %}"><i class='bx bx-show bx-sm' ></i> </a>
                            <a href="{% url 'socios_update' socio.id %}"><i class='bx bxs-edit bx-sm' ></i> </a>
                            <a href="{% url 'socios_delete' socio.id %}"><i class='bx bx-trash bx-sm'></i> </a></td>
                        </tr>
                        {% endfor %}
                      
                      
                      
                    </tbody>
                  </table>
                  
                </div>
                {% else %}
                  <div class="row">
                    <div class="col-12">
                      <p>No existen registros de socios para mostrar.-</p>
                    </div>
                  </div>
                    
                  {% endif %}
                </div>
                <!-- /.card-body -->
              </div>

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
{% endblock content %}