{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Agenda - Calendario</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Agenda</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg">

              {% if messages %}
              {% comment %} ALERTAS {% endcomment %}
                {% for message in messages %}
                    {% if message.tags %}
                      <div class="alert alert-{{ message.tags }}">
                        {% comment %} <h5><i class='bx bx-info-circle bx-md'></i></h5> {% endcomment %}
                        <ul style="margin-bottom: 0px;">
                          <li class="">{{ message }}</li>                   
                        </ul>
                      </div>
                  {% endif %}
                {% endfor %}
              {% comment %} FIN ALERTAS {% endcomment %}
              {% endif %}
              
              <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="hidden" name="display" value="dayGridMonth">
                                    <select name="mes" id="mes" class="form-control">
                                        <option value="01">Enero</option>
                                        <option value="02">Febrero</option>
                                        <option value="03">Marzo</option>
                                        <option value="04">Abril</option>
                                        <option value="05">Mayo</option>
                                        <option value="06">Junio</option>
                                        <option value="07">Julio</option>
                                        <option value="08">Agosto</option>
                                        <option value="09">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                    <input type="number" class="form-control" name="año" id="año" value="{{año}}">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </span>
                                    
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="hidden" name="display" value="timeGridDay">
                                    <input class="form-control" type="date" name="dia" id="dia">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                          <a href="{% url 'agenda_index' %}" title="Hoy" class="btn btn-primary float-right"><i class='bx bx-hash'></i></a>
                          <a href="{% url 'agenda_create_turno' %}" title="Nuevo Turno" class="btn btn-primary float-right mr-2"><i class='bx bx-user'></i></a>
                          <a href="{% url 'agenda_create_evento' %}" title="Nuevo Evento" class="btn btn-primary float-right mr-2"><i class='bx bx-calendar-star'></i></a>
                          <a href="{% url 'agenda_generar_mes' %}" title="Generar agenda de turnos para todo el mes" class="btn btn-primary float-right mr-2"><i class='bx bx-plus-medical'></i></a>
                        </div> 
                      </div>
                </div>

              </div>

              <div class="card card-primary card-outline">
                <div class="card-body">
                    <div id='calendar'></div>      
                </div>
              </div>
              

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->



{% endblock content %}

{% block scripts %}
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: '{{initialView}}',
      locales: 'es',
      /*headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
      },*/
      initialDate: '{{initialDate}}',
      headerToolbar: {
          left: '',
          center: 'title',
          right: ''
      },
      events: {{eventos|safe}},
      eventClick: function(info) {
        //alert('Event: ' + info.event.id);
        window.location.href = 'update/' + info.event.id;
        //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
        //alert('View: ' + info.view.type);
      },
      /*eventMouseEnter: function(mouseEnterInfo ){
        mouseEnterInfo.el.style.borderColor = 'black';
      }*/
      });
    calendar.render();
  });

</script>
{% endblock scripts %}