{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Rutinas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Rutinas</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg">

              {% if messages %}
              {% comment %} ALERTAS {% endcomment %}
                {% for message in messages %}
                    {% if message.tags %}
                      <div class="alert alert-{{ message.tags }}">
                        {% comment %} <h5><i class='bx bx-info-circle bx-md'></i></h5> {% endcomment %}
                        <ul style="margin-bottom: 0px;">
                          <li class="">{{ message }}</li>                   
                        </ul>
                      </div>
                  {% endif %}
                {% endfor %}
              {% comment %} FIN ALERTAS {% endcomment %}
              {% endif %}

              <div class="card card-primary card-outline collapsed-card">
                
                <div class="card-header">
                  <form action="" method="POST">
                      <div class="row">
                        <div class="col-lg-1 col-sm-2">
                          <a href="{% url 'rutinas_index' %}" title="Hoy" class="btn btn-primary"><i class='bx bx-hash'></i></a>
                        </div>
                        <div class="col-lg-3 col-sm-10">
                          {% csrf_token %}
                          <input type="text" id="q" name="q" class="form-control" placeholder="Buscar por nombre" value="{{q}}">
                        </div>    
                        

                        <div class="col-lg-3 col-sm-12">
                          <input type="date" name="fecha" id="fecha" class="form-control" value="{{fecha}}">
                        </div>
                        <div class="col-lg-3 col-sm-12">
                          <button type="submit" class="btn btn-primary btn-flat">Buscar</button>
                        </div>
                        
                        <div class="col-lg-2 col-sm-12">
                          <button title="Limpiar Filtros" onclick="ClearFields();"  class="btn btn-primary btn-flat btn-sm float-right mr-3"><i class='bx bx-reset'></i></button>
                        </div>
                      </div>
                  
                </div>
              </form>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title">Cronograma para el dia {{fecha_hoy}}</h5>

                  <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-sm float-right"><i class='bx bx-money-withdraw'></i> Generar Cuotas</a>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                
                {% if agendas %}
                <div class="card-body table-responsive p-0">

                  
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Socio</th>
                        <th>Horario</th>
                        <th style="text-align: center;">Rutina para hoy</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for agenda in agendas %}
                      <tr>
                        <td>{{agenda.socio}}</td>
                        <td>{{agenda.hora}} Hs</td>
                        <td style="text-align: center;">
                          <a href="{% url 'rutinas_show' agenda.socio.id agenda.id %}" target="_blank" title="Ver Rutina"><i class='bx bx-dumbbell bx-sm' ></i> </a>
                        </td>
                        <td>             
                          <a href="#" title="Editar"><i class='bx bxs-edit bx-sm' ></i> </a>
                          <a href="#" title="Borrar"><i class='bx bx-trash bx-sm'></i> </a>
                      </tr>
                      {% endfor %}

                      
                    </tbody>
                  </table>
                  
                </div>
                {% else %}
                  <div class="row">
                    <div class="col-12">
                      <p>No existen registros de socios para mostrar.-</p>
                    </div>
                  </div>
                    
                  {% endif %}
                </div>
                <!-- /.card-body -->
              </div>

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
{% endblock content %}