{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Rutinas (MODELOS)</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Rutinas (MODELOS)</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg">

              {% if messages %}
              {% comment %} ALERTAS {% endcomment %}
                {% for message in messages %}
                    {% if message.tags %}
                      <div class="alert alert-{{ message.tags }}">
                        {% comment %} <h5><i class='bx bx-info-circle bx-md'></i></h5> {% endcomment %}
                        <ul style="margin-bottom: 0px;">
                          <li class="">{{ message }}</li>                   
                        </ul>
                      </div>
                  {% endif %}
                {% endfor %}
              {% comment %} FIN ALERTAS {% endcomment %}
              {% endif %}

              <div class="card card-primary card-outline collapsed-card">
                
                <div class="card-header">
                  <form action="" method="POST">
                      <div class="row">
                        <div class="col-lg-1 col-sm-2">
                          <a href="#" title="Hoy" class="btn btn-primary"><i class='bx bx-hash'></i></a>
                        </div>
                        <div class="col-lg-3 col-sm-10">
                          {% csrf_token %}
                          <input type="text" id="q" name="q" class="form-control" placeholder="Buscar por nombre" value="{{q}}">
                        </div>    
                        

                        <div class="col-lg-3 col-sm-12">
                          <input type="date" name="fecha" id="fecha" class="form-control" value="{{fecha}}">
                        </div>
                        <div class="col-lg-3 col-sm-12">
                          <button type="submit" class="btn btn-primary btn-flat">Buscar</button>
                        </div>
                        
                        <div class="col-lg-2 col-sm-12">
                          <button title="Limpiar Filtros" onclick="ClearFields();"  class="btn btn-primary btn-flat btn-sm float-right mr-3"><i class='bx bx-reset'></i></button>
                        </div>
                      </div>
                  
                </div>
              </form>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title">Modelos de Rutinas</h5>

                  <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-sm float-right"><i class='bx bx-medical'></i> Crear Rutina</a>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                
                {% if rutinas %}
                <div class="card-body table-responsive p-0">

                  
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for rutina in rutinas %}
                      <tr>
                        <td>{{rutina.titulo}}</td>
                        <td>{{rutinas.descripcion}}</td>
                        <td>             
                          <a href="#" title="Editar"><i class='bx bxs-edit bx-sm' ></i> </a>
                          <a href="#" title="Borrar"><i class='bx bx-trash bx-sm'></i> </a>
                      </tr>
                      {% endfor %}

                      
                    </tbody>
                  </table>
                  
                </div>
                {% else %}
                  <div class="row">
                    <div class="col-12">
                      <p>No existen registros de socios para mostrar.-</p>
                    </div>
                  </div>
                    
                  {% endif %}
                </div>
                <!-- /.card-body -->
              </div>

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->

            <!-- MODAL GENERAR CUOTAS -->
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Crear Rutina</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="#" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                {% comment %} <p style="text-align: center;">Va a generar pagos para todos los socios ACTIVOS con los valores seleccionados debajo</p> {% endcomment %}

                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="titulo">Titulo</label>
                          {{form.titulo}}
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="descripcion">Descripcion</label>
                          {{form.descripcion}}
                      </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary"><i class='bx bx-plus-medical'></i> Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- FIN MODAL GENERAR CUOTAS -->
{% endblock content %}