{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Pagos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Pagos (Nuevo)</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg">

              <div class="card card-primary card-outline">

                <div class="card-header">
                  <h5 class="card-title">Pagos</h5>

                </div>

                <form action="" method="POST">
                    <div class="card-body">
                        
                            {% csrf_token %}
                            
                            <input type="hidden" name="socio" value="{{socio.id}}">

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="mes">Mes</label>
                                        {{form.mes}}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="año">Año</label>
                                        {{form.año}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        {{form.estado}}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="concepto">Concepto</label>
                                        {{form.concepto}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="monto">Monto ($)</label>
                                        {{form.monto}}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="fechapago">Fecha de Pago</label>
                                        {{form.fechapago}}
                                    </div>
                                </div>
                            </div>
                                
                        
                    </div>

                    <div class="card-footer">
                        <a href="#" onclick="history.back()" class="btn btn-success float-left"><i class='bx bx-arrow-back'></i> Volver</a>
                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                    </div>
                </form>
                


              </div>

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
{% endblock content %}